body {background: #46b325; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #80d5f7, #49a5f0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #80d5f7, #49a5f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ;}
  
  /* Apariencia del formulario con css le agrega el color, ancho, alto y el centrado */
  .form {
      background-color:#fff;
      margin: auto;
      width: 90%;
      max-width: 400px;
      padding: 4.5em 3em;
      border-radius: 10px;
      box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
      text-align: center;
  }
  .form_title {
      font-size: 2rem;
      margin-bottom: .5em;
  
  }
  .form_paragraph{
      font-weight: 300;
  }
  .form_link{
      font-weight: 400;
      color: #000;
  }
  .form_container {
      margin-top: 3em;
      display: grid;
      gap: 2.5em;
  }
  .form_group {
      position: relative;
      --color:  #5757577e;
  }
  
  .form_input {
      width: 100%;
  
      background: none;
      color: #706c6c;
      font-size: 1rem;
      padding: .8em .3em;
      border: none;
      outline: none;
      border-bottom: 1px solid var(--color);
  }
  .select-css {
    display: block;
    font-size: 16px;
    font-family: 'Koulen', cursive;
    font-weight: 100;
    color: #444;
    line-height: 1;
    padding: .4em 1.4em .3em .8em;
    width: 302px;
    max-width: 99%; 
    box-sizing: border-box;
   margin: 1px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .70em auto, 100%;
  }
  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #888;
  }
  .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  .select-css option {
    font-weight:normal;
  }
  
  
  .classOfElementToColor:hover {background-color:red; color:rgb(0, 0, 0)}
  
  .select-css option[selected] {
      background-color: #9cd631;
  }
  
  .form_input:focus,
  .form_input:not(:placeholder-shown){
      color: #4d4646;
  }
  
  .form_input:focus + .form_label,
  .form_input:not(:placeholder-shown) +.form_label{
      transform: translateY(-12px) scale(.7);
      transform-origin: left top;
      color: #AAABB0;
  }
  .form_label{
      color:  var(--color);
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 5px;
      transform: translate(10px);
      transition: transform .5s, color .3s;
  
  }
  .header {background: #000000;
             color: white;
             padding: 0.5rem 1rem;
             display: block;}
  h2 {
      font-family: 'Koulen', cursive;
  }
  h3 {
      font-family: 'Koulen', cursive;}
      label {font-family: 'Koulen', cursive;}
  .form_submit{
      background: #3866f2;
      color: #fff;
      font-weight: 300;
      font-size: 1rem;
      padding: .8em 0;
      border: none;
      border-radius: .5em;
  }
  .form_line{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color:#3866f2;
      transform: scale(0);
      transform: left bottom;
  transition: transform .4s;
  }
  .form_input:focus + .form_label,
  .form_input:not(:placeholder-shown) +.form_label
  {
      transform: scale(1);
  }